<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cipher Web</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</head>
<body>
    <center><h1>Encryption</h1></center>
    <div class="row mt-5">
             
        <div class="col-1"></div>
        <div class="col-6  shadow">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Plaintext</label>
                  <input type="text" class="form-control" name="string" placeholder="">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Keyword</label>
                  <input type="text" class="form-control" name="key" placeholder="" >
                </div>
                
                <button type="submit" name="vigenere" class="btn btn-primary col-5">Vigenere Cipher</button>
                <button type="submit" name="ex-vigenere" class="btn btn-primary col-5"> Extended Vigenere Cipher</button>
                <button type="submit" name="playfair" class="btn btn-primary col-5">Playfair Cipher</button>
                <button type="submit" name="otp" class="btn btn-primary col-5">One-time pad</button>               
            </form>
        </div>
        <div class="col-1 p-5"></div>
        <div class="col-2 shadow">
            <h3>Ciphertext</h3>  
            <br><br><br>
            <h4>{{result}}</h4>   
        </div>
    </div>
    
</body>
</html>